*{
    margin: 0;
    font-family: Arial;
    padding: 0;
}   
html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

}

header {
    background-color:#478978 ;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    top: 0;
}

header a {
    color:#D6EDFF ;
    text-decoration:none ;
    text-transform: uppercase;
    font-weight: bold;

}
nav {
    display: flex;
    gap: 8rem;
}
 header a:hover {
    text-decoration: underline;

 }

section {
   border: 1px solid #ACD7EC;
   height: calc(100vh - 5rem)

 }

#listas{
margin-top: 5rem;

}


